.mint-swipe-indicator.is-active
  background #409EFF
  opacity 1
.mint-checkbox-core
  border-radius 0
.mint-checkbox-label
  display none
.mint-cell
  background transparent
  height 100%
.mint-cell-wrapper
  height 100%
.mint-checkbox-core
  background transparent
  border-color #409EFF
  width 25px
  height 25px
.mint-checklist-label
  height 100%
.mint-cell-title
  height 100%
